body {
  margin: 0;
  height: 100vh;
  background: #FFD84D;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.card {
  background: white;
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
}

.buttons {
  margin-top: 20px;
}

button {
  border: none;
  padding: 12px 25px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
}

.yes {
  background: #ff4d88;
  color: white;
}

.no {
  background: #999;
  color: white;
}
